* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#scoreBox {
  position: absolute;
  top: 9px;
  right: 100px;
  font-size: 39px;
  font-weight: bold;
  font-family: fantasy !important;
}
#higheScoreBox {
  position: absolute;
  top: 59px;
  right: 100px;
  font-size: 39px;
  font-weight: bold;
  font-family: fantasy !important;
}

.body {
  background: url('./img/bg.jpg');
  min-height: 100dvh;
  background-size: 100dvw 100dvh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  background: rgb(255, 255, 0);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(240, 255, 0, 1) 35%,
    rgba(0, 255, 1, 1) 100%
  );
  width: 90vmin;
  height: 92vmin;
  border: 2px solid black;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}

.head {
  background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
  border: 2px solid rgb(34, 4, 34);
  transform: scale(1.02);
  border-radius: 9px;

  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.snake {
  background: purple;
  border: 0.25vmin solid white;
  border-radius: 12px;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.food {
  background: linear-gradient(red, purple);
  border: 0.25vmin solid #000;
  border-radius: 8px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
